{% extends "base.html" %}

{% block submenu %}
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <a href="/productivity/tasks"><button type="button" class="btn btn-outline-primary">Tasks</button></a>
    <a href="/productivity/goals"><button type="button" class="btn btn-outline-primary">Goals</button></a>
    <a href="/productivity/projects"><button type="button" class="btn btn-outline-primary">Projects</button></a>
</div>
{% endblock %}

{% block title %}
{{User.username}} Health Information
{% endblock %}

{% block content %}
{% block header %}

{% endblock %}

{% block menu %}
{% endblock%}




{% endblock %}