{% extends "productivity/prod-div.html" %}

{% block title %}
Edit Task
{% endblock %}

{% block header %}
<h1 class="display-1 text-center">Edit Task</h1>
{% endblock %}

{% block menu %}
{% for task in task %}
<form action="/productivity/taskupdate/{{task.id}}" method="POST">
    <a href="{{ url_for('prod.task_noTOyes', taskid=task.id) }}"><button name="markdone"
            class="btn btn-success">Complete</button></a>
    <label for="item">Name of Task</label>
    <input type="text" name="name" id="name" value="{{task.item}}">
    <label for="duedate">Due Date</label>
    <input type="text" name="duedate" id="duedate" value='{{task.duedate.strftime("%Y-%m-%d")}}'>
    <input type="hidden" name='thisuserid' value="{{current_user.id}}">

    <input type="submit" value="Update">
</form>
{% endfor %}
{% endblock %}