{% extends "productivity/prod-div.html" %}

{% block title %}
{{current_user.username}} Tasks
{% endblock %}

{% block header %}
<h1 class="display-1 text-center">Tasks for {{current_user.firstname}} {{current_user.lastname}}</h1>
{% endblock %}

{% block menu %}
<a href="{{url_for('prod.importNotion')}}"><button class="btn btn-primary">Import</button></a>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-notcomplete-tab" data-bs-toggle="tab" data-bs-target="#nav-notcomplete"
            type="button" role="tab" aria-controls="nav-notcomplete" aria-selected="true">Not Complete</button>
        <button class="nav-link" id="nav-complete-tab" data-bs-toggle="tab" data-bs-target="#nav-complete" type="button"
            role="tab" aria-controls="nav-complete" aria-selected="false">Complete</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="nav-complete" role="tabpanel" aria-labelledby="nav-complete-tab">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Complete</th>
                    <th>Task</th>
                    <th>Project</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for task in complete.items %}
                <tr>
                    <td><a href="{{ url_for('prod.task_yesTOno', taskid=task.id) }}"><button name="markdone"
                                class="btn btn-warning">Undone</button></a></td>
                    <td>{{task.item}}</td>
                    <td>{{task.projectname}}</td>
                    <td>{{task.duedate.strftime("%m/%d/%y")}}</td>
                    <td><a href="#"><button class="btn btn-outline-primary"><i class="far fa-edit"></i></button></a>
                    </td>
                    <td><a href="{{ url_for('prod.taskdelete', taskid=task.id) }}"><button
                                class="btn btn-outline-danger">X</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Task InComplete Pageinate">
            <ul class="pagination justify-content-start">
                {% for page in incomplete.iter_pages(left_edge=3, right_edge=3, left_current=3, right_current=3) %}
                <li class="page-item">
                    {% if page %}
                    <a class="page-link" href="{{ url_for('prod.tasks', page_num=page) }}">{{ page }}</a>
                    {% else %}
                    <p class="page-link">...</p>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </nav>

    </div>
    <div class="tab-pane fade show active" id="nav-notcomplete" role="tabpanel" aria-labelledby="nav-notcomplete-tab">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Complete</th>
                    <th>Task</th>
                    <th>Project</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <form action="{{url_for('prod.tasks', page_num=1)}}" class="table-dark" method="POST">
                        <td><input type="checkbox" class="form-check-input"></td>
                        <td><input type="text" name="task" id="task" class="form-control"></td>
                        <td><select name="project" id="project" class="form-select">
                                <option disabled>Projects</option>
                                {% for project in projects %}
                                <option value="P{{project.id}}">{{project.name}}</option>
                                {% endfor %}
                                <option disabled>Goals</option>
                                {% for goal in goals %}
                                <option value="G{{goal.id}}">{{goal.name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="date" name="dueDate" id="dueDate" class="form-control"></td>
                        <td><input type="hidden" name='thisuserid' value="{{current_user.id}}"></td>
                        <td><input type="submit" value="submit"></td>
                    </form>
                </tr>
            </tbody>
        </table>
        <table class="table table-hover">
            <tbody>
                {% for task in incomplete.items %}
                {% if task.duedate.strftime("%m/%d/%Y") < task.duedate.now().strftime("%m/%d/%Y") %}
                <tr class="text-danger">
                    {% elif task.duedate.strftime("%m/%d/%y") == task.duedate.now().strftime("%m/%d/%y") %}
                <tr class="text-success">
                    {% else %}
                <tr>
                    {% endif %}
                    <td><a href="{{ url_for('prod.task_noTOyes', taskid=task.id) }}"><button name="markdone"
                                class="btn btn-success">Complete</button></a></td>
                    <td>{{task.item}}</td>
                    <td>{{task.projectname}}</td>
                    <td>{{task.duedate.strftime("%m/%d/%y")}}</td>
                    <td><a href="{{ url_for('prod.taskupdate', taskid=task.id) }}"><button type="button"
                                class="btn btn-primary"><i class="far fa-edit"></i></button></a></td>
                    <td><a href="{{ url_for('prod.taskdelete', taskid=task.id) }}"><button class="btn btn-danger"><i
                                    class="fas fa-trash-alt"></i></button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Task Complete Pageinate">
            <ul class="pagination justify-content-start">
                {% for page in complete.iter_pages(left_edge=3, right_edge=3, left_current=3, right_current=3) %}
                <li class="page-item">
                    {% if page %}
                    <a class="page-link" href="{{ url_for('prod.tasks', page_num=page) }}">{{ page }}</a>
                    {% else %}
                    <p class="page-link">...</p>
                    {% endif %}
                </li>
                {% endfor %}

            </ul>
        </nav>
    </div>
</div>


{% endblock %}