{% extends "health-div.html" %}

{% block title %}
{{current_user.username}} Allergic Medications
{% endblock %}

{% block header %}
<h1 class="display-1 text-danger text-center">Allergy List for {{current_user.firstname}} {{current_user.lastname}}</h1>
<!-- <h4 class="display-4 text-center">Planner</h4> -->
{% endblock %}

{% block menu %}
<div class="row justify-content-between">
    {% for allergy in allergies %}
    <div class="col-4 mb-4">
        <div class="card border-danger" style="width: 26rem;">
            <div class="card-body">
                <h5 class="text-danger">
                    {{allergy.name}}
                </h5>
                <div class="card-text">
                    {{allergy.reaction}} <br>
                    {{allergy.dateadded.strftime("%m-%d-%Y")}}
                    </div>
                <a href="/deletingAllergy/{{allergy.id}}" class="btn btn-outline-danger btn-sm" role="button">X</a>
                <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<div class="form-floating">
    <form action="/health/allergies" , method="POST">
        <label for="name">Name of Allergy</label>
        <input type="text" class="form-control" id="name" name="name">
        <label for="reaction">Reaction</label>
        <input type="text" class="form-control" name="reaction" id="reaction">
        <label for="dateadded">Date Added as Allergy</label>
        <input type="date" class="form-control" id="dateadded" name="dateadded">
        <input type="hidden" name='thisuserid' value="{{current_user.id}}">
        <input type="submit" name='allergySubmit' value="Add Allergy">
    </form>
</div>
{% endblock %}