{% extends "health-div.html" %}

{% block title %}
{{current_user.username}} Doctors
{% endblock %}

{% block header %}
<h1 class="display-1 text-center">Doctors for {{current_user.firstname}} {{current_user.lastname}}</h1>
<!-- <h4 class="display-4 text-center">Planner</h4> -->
{% endblock %}

{% block menu %}
{% for doctor in doctors %}
<form action="/health/doctors" , method="POST">
    <label for="drname">Doctor's Name</label>
    <input type="text" class="form-control" id="drname" name="drname" value="{{doctor.name}}">
    <label for="facility">Facility</label>
    <input type="text" class="form-control" name="facilityname" id="facilityname" value="{{doctor.facility}}" disabled>
    <label for="address">Address</label>
    <input type="text" class="form-control" id="address" name="address" value="{{doctor.address}}">
    <label for="city">City</label>
    <input type="text" class="form-control" id="city" name="city" value="{{doctor.city}}">
    <label for="state">State</label>
    <input type="text" class="form-control" id="state" name="state" value="{{doctor.state}}">
    <label for="zip">Zip Code</label>
    <input type="text" class="form-control" id="zip" name="zip" value="{{doctor.zip}}">
    <label for="phone">Phone Number</label>
    <input type="text" class="form-control" id="phone" name="phone" value="{{doctor.phone}}">
    <label for="email">E-mail Address</label>
    <input type="text" class="form-control" id="email" name="email" value="{{doctor.email}}">
    <label for="asst">Assistants Name</label>
    <input type="text" class="form-control" id="asst" name="asst" value="{{doctor.asst}}">
    <input type="hidden" name='thisuserid' value="{{current_user.id}}">
    <input type="hidden" name='facility' value="{{doctor.facilityfk}}">
    <input type="submit" name='docSubmit' value="Edit Doctor">
</form>
{% endfor %}
{% endblock %}