{% extends "health/health-div.html" %}

{% block title %}
{{current_user.username}} Facilities
{% endblock %}

{% block content %}
<h1 class="display-1 text-center">Facility List for {{current_user.firstname}} {{current_user.lastname}}</h1>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary col-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add New Facility
</button>

<table class="table table-hover table-striped">
    <thead>
        <th>Facility Name</th>
        <th>Doctors</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Type</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        {% for facility in facilities %}
        <tr>
            <td><a href="/health/edit_facilities/{{facility.id}}" class="btn">{{facility.name}}</a></td>
            <td>{% if facility.type == "Clinic" %}{% for doctor in doctors %}{% if facility.id == doctor.facilityfk %}{{doctor.name}}<br>{% endif %}{% endfor %}{% endif %}</td>
            <td>{{facility.address}}<br>{{facility.city}}, {{facility.state}} {{facility.zip}}</td>
            <td>{{facility.phone}}</td>
            <td>{{facility.type}}</td>
            <td><a href="/health/edit_facilities/{{facility.id}}" class="btn btn-primary" role="button"><i class="fas fa-edit"></i></a></td>
            <td><a href="/deletingFacility/{{facility.id}}" class="btn btn-danger" role="button"><i class="fas fa-trash-alt"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a New Facility</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/health/facilities" , method="POST" class="row g-2">
                    <div class="col-12">
                        <label for="drname">Facility Name</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="col-6">
                        <label for="addy">Address</label>
                        <input type="text" class="form-control" name="addy" id="addy">
                    </div>
                    <div class="col-2">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" name="city">
                    </div>
                    <div class="col-2">
                        <label for="state">State</label>
                        <input type="text" class="form-control" name="state" id="state" maxlength="2">
                    </div>
                    <div class="col-2">
                        <label for="zip">Zip Code</label>
                        <input type="text" class="form-control" name="zip" id="zip">
                    </div>
                    <div class="col-6">
                        <label for="type">Type of Facility</label> <br>
                        <select name="type" id="type" class="form-select">
                            <option value="Hosptial">Hosptial</option>
                            <option value="Clinic">Clinic</option>
                            <option value="Pharmacy">Pharmacy</option>
                            <option value="DME">DME</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="phone">Phone Number</label>
                        <input type="text" class="form-control" name="phone" id="phone">
                        <input type="hidden" name='thisuserid' value="{{current_user.id}}">
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}