{% extends 'health/health-div.html' %}

{% block style %}
<style>
    .header {
        position: fixed;
        top: 0;
    }

    .footer {
        position: fixed;
        bottom: 0;
    }
</style>
{% endblock %}

{% block submenu %}
{% endblock %}

{% block proheader %}
{{current_user.firstname}} Medication List
{% endblock %}

{% block content %}
<div class="header">
    <H4>{{current_user.firstname}} {{current_user.lastname}} Medications</H4>
    <h6>DOB: {{current_user.dob.strftime("%m/%d/%y") }}</h6>
</div>
<br> <br> <br>
<div class="content">
    <table class="table table-striped table-sm">
        <thead>
            <th>Medication</th>
            <th>Doctor</th>
            <th>Dose</th>
            <th>When</th>
            <th>Reason</th>
            <th>Last Refilled</th>
        </thead>
        <tbody>
            {% for medication in medications %}
            <tr>
                <td>{{medication.name}}</td>
                <td>{% for doctor in doctors %}{% if doctor.id == medication.doctorfk %}{{doctor.name}}{% endif %}{% endfor %}
                </td>
                <td>{{medication.dose}}</td>
                <td>{{medication.how_often}}</td>
                <td>{{medication.reason_for_taking}}</td>
                <td>{{medication.last_refilled.strftime("%m-%d-%Y")}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="footer">
    <h6>As of <script>
            document.write(new Date().toLocaleDateString());
        </script>
    </h6>

</div>
{% endblock %}