appnope @ file:///opt/concourse/worker/volumes/live/5f13e5b3-5355-4541-5fc3-f08850c73cf9/volume/appnope_1606859448618/work
arrow==0.14.7
attrs==21.2.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
bcolors==1.0.2
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
decorator @ file:///tmp/build/80754af9/decorator_1621259047763/work
Flask==2.0.1
Flask-Ext==0.1
Flask-Login==0.5.0
Flask-MySQL==1.5.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
ics==0.7
idna==2.10
inflect==5.3.0
ipykernel @ file:///opt/concourse/worker/volumes/live/88f541d3-5a27-498f-7391-f2e50ca36560/volume/ipykernel_1596206680118/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///opt/concourse/worker/volumes/live/c432d8a7-d8f3-4e24-590f-f03d7e5f35e1/volume/ipython_1617120884257/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
itsdangerous==2.0.1
jedi==0.17.0
Jinja2==3.0.1
json2db==3.2.3
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1616770841739/work
jupyter-core @ file:///opt/concourse/worker/volumes/live/c8df8dce-dbb3-46e7-649c-adf4ed2dd00a/volume/jupyter_core_1612213293829/work
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==2.0.1
n2w==0.1.3
npm==0.1.1
numpy==1.21.1
opencv-python==4.5.3.56
optional-django==0.1.0
parso @ file:///tmp/build/80754af9/parso_1617223946239/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.3.1
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1616415428029/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyenchant==3.2.0
Pygments @ file:///tmp/build/80754af9/pygments_1621606182707/work
PyMySQL==1.0.2
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
pyzmq==20.0.0
requests==2.25.1
selenium==3.141.0
six @ file:///opt/concourse/worker/volumes/live/5b31cb27-1e37-4ca5-6e9f-86246eb206d2/volume/six_1605205320872/work
soupsieve==2.2.1
SQLAlchemy==1.4.17
TatSu==5.6.1
tornado @ file:///opt/concourse/worker/volumes/live/05341796-4198-4ded-4a9a-332fde3cdfd1/volume/tornado_1606942323372/work
traitlets @ file:///home/ktietz/src/ci/traitlets_1611929699868/work
urllib3==1.26.4
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
Werkzeug==2.0.1
wxPython==4.1.1
