arrow==0.14.7
attrs==21.2.0
bcolors==1.0.2
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
Flask==2.0.1
Flask-Ext==0.1
Flask-Login==0.5.0
Flask-MySQL==1.5.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
ics==0.7
idna==2.10
inflect==5.3.0
itsdangerous==2.0.1
jedi==0.17.0
Jinja2==3.0.1
json2db==3.2.3
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==2.0.1
n2w==0.1.3
npm==0.1.1
numpy==1.21.1
opencv-python==4.5.3.56
optional-django==0.1.0
Pillow==8.3.1
pyenchant==3.2.0
PyMySQL==1.0.2
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyzmq==20.0.0
requests==2.25.1
selenium==3.141.0
soupsieve==2.2.1
SQLAlchemy==1.4.17
TatSu==5.6.1
urllib3==1.26.4
Werkzeug==2.0.1
wxPython==4.1.1
