{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block style %}
{% endblock %}

{% block submenu %}
{% endblock %}

{% block content %}
<div class="row g2">
    <div class="col-3">
        <p class="display-6 text-primary text-decoration-underline text-center">Menu</p>
        <form action="{{url_for('settings.settingsHome')}}" method="post">
            {% for value in values %}
            {% if "menu" in value[1] %}
            <div class="form-check">
                <label class="form-check-label" for="{{value[1]}}">{{value[1]}}</label>
                {% if value[0] == True %}
                <input class="form-check-input" type="checkbox" name="{{value[1]}}" id="{{value[1]}}" checked>
                {% else %}
                <input class="form-check-input" type="checkbox" name="{{value[1]}}"  id="{{value[1]}}">
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Submit Settings">
        </form>
    </div>
    <div class="col-3">
        <p class="display-6 text-info text-decoration-underline text-center">Health</p>
        <form action="/settings/" method="post">
            {% for value in values %}
            {% if "health" in value[1] %}
            <div class="form-check">
                <label class="form-check-label" for="{{value[1]}}">{{value[1]}}</label>
                {% if value[0] == True %}
                <input class="form-check-input" type="checkbox" id="{{value[1]}}" checked>
                {% else %}
                <input class="form-check-input" type="checkbox" id="{{value[1]}}">
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Submit Settings">
        </form>
    </div>
    <div class="col-3">
        <p class="display-6 text-warning text-decoration-underline text-center">Productivity</p>
        <form action="/settings/" method="post">
            {% for value in values %}
            {% if "prod" in value[1] %}
            <div class="form-check">
                <label class="form-check-label" for="{{value[1]}}">{{value[1]}}</label>
                {% if value[0] == True %}
                <input class="form-check-input" type="checkbox" id="{{value[1]}}" checked>
                {% else %}
                <input class="form-check-input" type="checkbox" id="{{value[1]}}">
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Submit Settings">
        </form>
    </div>
    <div class="col-3">
        <p class="display-6 text-danger text-decoration-underline text-center">Personal</p>
        <form action="/settings/" method="post">
            {% for value in values %}
            {% if "personal" in value[1] %}
            <div class="form-check">
                <label class="form-check-label" for="{{value[1]}}">{{value[1]}}</label>
                {% if value[0] == True %}
                <input class="form-check-input" type="checkbox" id="{{value[1]}}" checked>
                {% else %}
                <input class="form-check-input" type="checkbox" id="{{value[1]}}">
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Submit Settings">
        </form>
    </div>
    <div class="col-3">
        <p class="display-6 text-secondary text-decoration-underline text-center">Other</p>
        <form action="/settings/" method="post">
            {% for value in values %}
            {% if "other" in value[1] %}
            <div class="form-check">
                <label class="form-check-label" for="{{value[1]}}">{{value[1]}}</label>
                {% if value[0] == True %}
                <input class="form-check-input" type="checkbox" id="{{value[1]}}" checked>
                {% else %}
                <input class="form-check-input" type="checkbox" id="{{value[1]}}">
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Submit Settings">
        </form>
    </div>
</div>
{% endblock %}