{% extends "base.html" %}

{% block submenu %}
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <a href="/menu"><button type="button" class="btn">Planner</button></a>
    <a href="/menu/recipe"><button type="button" class="btn">Recipe</button></a>
    <a href="/menu/shopping"><button type="button" class="btn">Shopping List</button></a>
    <a href="/menu/recipe/new"><button type="button" class="btn">Add a Recipe</button></a>
</div>
{% endblock %}

{% block title %}
Guill Menu
{% endblock %}

{% block header %}
{% endblock %}

{% block menu %}
{% endblock%}

{% block content %}
{% endblock %}