{% extends "base.html" %}

{% block title %}
Housing History
{% endblock %}

{% block style %}
{% endblock %}

{% block submenu %}
{% endblock %}

{% block proheader %}
{{current_user.firstname}}'s Housing History
{% endblock %}

{% block content %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add New Housing History
</button>
<a href="/personal/exportcsv" class="btn btn-info">Export CSV</a>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Housing History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/personal/housinghistory" , method="POST" class="row g-2">
                    <div class="col-6">
                        <label for="start" class="form-label">Move In Month/Year</label>
                        <input type="month" class="form-control" name="start" id="start">
                    </div>
                    <div class="col-6">
                        <label for="end" class="form-label">Move Out Month/Year</label>
                        <input type="month" class="form-control" name="end" id="end">
                    </div>
                    <div class="col-6">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" name="address" id="address">
                    </div>
                    <div class="col-3">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" name="city" id="city">
                    </div>
                    <div class="col-1">
                        <label for="state" class="form-label">State</label>
                        <select class="form-select" name="state" id="state">
                            {% for state in states %}
                            <option value="{{state.abr}}">{{state.abr}} - {{state.state}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="zip" class="form-label">Zip</label>
                        <input type="text" class="form-control" name="zip" id="zip">
                    </div>
                    <div class="col-3">
                        <input type="hidden" name='thisuserid' value="{{current_user.id}}">
                        <input type="submit" class="btn btn-primary" name="submit" id="submit" value="Add Housing History">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<table class="table table-responsive table-hover table-bordered">
    <thead>
        <th>Move In</th>
        <th>Move Out</th>
        <th>Address</th>
        <th>How Long</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        {% for house in housing %}
        <tr>
            <td>{{house.movein.strftime("%m/%Y")}}</td>
            <td>{{house.moveout.strftime("%m/%Y")}}</td>
            <td>{{house.address}} {{house.city}}, {{house.state}}  {{house.zip}}</td>
            <td>
                {% for lgh in los %}
                {% if lgh['id'] == house.id %}
                {{lgh['stay']}}
                {% endif %}
                {% endfor %}
            </td>
            <td><a href="{{url_for('personal.housing_edit', id=house.id)}}"><button class="btn btn-primary"><i class="fas fa-edit"></i></button></a></td>
            <td><a href="{{url_for('personal.housing_delete', id=house.id)}}"><button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}