{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block style %}
{% endblock %}

{% block submenu %}
{% endblock %}

{% block content %}
<div class="text-center">
    <h4 class="display-4">{{veh.year}} {{veh.make}} {{veh.model}} {{veh.trim}}</h4>
    Purchased: {{veh.purchase_date.strftime("%B %d, %Y")}} <br>
    Owned for: {{owned}}
</div>
<div class="text-center">
    <img src="{{veh.pictureURL}}" alt="Picture of Vehicle" width="30%" height="15%"
        class="rounded img-fluid border-dark">
</div>
<form action="{{url_for('vehicle.vehsingle), id=veh.id}}" method="POST" class="row g-0">
    <div class="col-6">
        <label class="form-label" for="name">Currently Owned?</label>
        <select class="form-select" name="curown" id="curown" value="{{veh.curown}}">
            <option {% if veh.curown == 1 %}selected{% endif %} value=1>Yes</option>
            <option {% if veh.curown == 0 %}selected{% endif %} value=0>No</option>
        </select>
    </div>
    <div class="col-6">
        <label class="form-label" for="picurl">Picture URL</label>
        <input class="form-control" type="text" name="picurl" id="picurl" value="{{veh.pictureURL}}">
    </div>
    <div class="col-2">
        <label class="form-label" for="year">Year</label>
        <input class="form-control" type="number" name="year" id="year" value="{{veh.year}}">
    </div>
    <div class="col-3">
        <label class="form-label" for="make">Make</label>
        <input class="form-control" type="text" name="make" id="make" value="{{veh.make}}">
    </div>
    <div class="col-3">
        <label class="form-label" for="model">Model</label>
        <input class="form-control" type="text" name="model" id="model" value="{{veh.model}}">
    </div>
    <div class="col-2">
        <label class="form-label" for="trim">Trim</label>
        <input class="form-control" type="text" name="trim" id="trim" value="{{veh.trim}}">
    </div>
    <div class="col-2">
        <label class="form-label" for="color">Color</label>
        <input class="form-control" type="text" name="color" id="color" value="{{veh.color}}">
    </div>
    <div class="col-4">
        <label class="form-label" for="licplate">License Plate</label>
        <input class="form-control" type="text" name="licplate" id="licplate" value="{{veh.licenseplate}}">
    </div>
    <div class="col-4">
        <label class="form-label" for="tagsexp">Tags Expire</label>
        <input class="form-control" type="month" name="tagsexp" id="tagsexp"
            value="{{veh.tagsexpire}}">
    </div>
    <div class="col-4">
        <label class="form-label" for="vin">VIN Number</label>
        <input class="form-control" type="text" name="vin" id="vin" value="{{veh.vinnumber}}">
    </div>
    <div class="col-4">
        <label class="form-label" for="pdate">Purchase Date</label>
        <input class="form-control" type="text" name="pdate" id="pdate"
            value="{{veh.purchase_date.strftime('%m/%d/%Y')}}">
    </div>
    <div class="col-4">
        <label class="form-label" for="purplace">Place of Purchase</label>
        <input class="form-control" type="text" name="purplace" id="purplace" value="{{veh.purchasefrom}}">
    </div>
    <div class="col-4">
        <label class="form-label" for="puramt">Purchase Amount</label>
        <input class="form-control" type="number" name="puramt" id="puramt" value="{{veh.purchaseprice}}">
    </div>
    <div class="col-4">
        <label class="form-label" for="sdate">Sale Date</label>
        <input class="form-control" type="text" name="sdate" id="sdate" value="{{veh.sell_date.strftime('%m/%d/%Y')}}">
    </div>
    <div class="col-4">
        <label class="form-label" for="reason">Sale Reason</label>
        <input class="form-control" type="text" name="reason" id="reason" value="{{veh.reasonforsale}}">
    </div>
    <div class="col-4">
        <label class="form-label" for="saleamt">Sale Amount</label>
        <input class="form-control" type="number" name="saleamt" id="saleamt" value="{{veh.saleamount}}">
    </div>
    <button type="submit" class="btn btn-primary">Edit Vehicle</button>
</form>
</div>

{% endblock %}