{% extends "base.html" %}

{% block submenu %}
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <a href="/menu"><button type="button" class="btn">Menu</button></a>
    <a href="/menu/dishes"><button type="button" class="btn">Dishes</button></a>

    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><a class="dropdown-item" href="#">Dropdown link</a></li>
            <li><a class="dropdown-item" href="#">Dropdown link</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block title %}
Guill Menu
{% endblock %}

{% block content %}
{% block header %}

{% endblock %}

{% block menu %}
{% endblock%}




{% endblock %}