{% extends "menu-div.html" %}

{% block title %}
Guill Menu
{% endblock %}

{% block header %}
<h1 class="display-1 text-center">Guill Menu</h1>
<h4 class="display-4 text-center">Planner</h4>
{% endblock %}

{% block menu %}

<!-- Select Specific Date -->
<form action="/plan/single", method="POST">
    <label for="dateselector">Select a date to jump to:</label>
    <div class="input-group mb-3">
        <input class="form-control border-dark" name="dateselector" id="dateselector" type="date">
        <input type="submit" class="btn btn-outline-primary" value="Go">
    </div>
</form>
<hr>

    {% for date, plan in plans | groupby('date') %}
    <!-- List of All Dates and Dishes -->
    <div class="input-group mb-3">
        <h4>{{ date.strftime('%A, %B %d, %Y') }}</h4>
        <form action="/plan/single" , method="POST">
            <button type="submit" class="btn btn-outline-primary" name="dateselector" id="dateselector" value="{{date.strftime('%Y-%m-%d')}}">Go</button>
        </form>
    </div>
    <form action="/menu" method='POST'>
        <div class="input-group mb-3">
            <input type="hidden" name="datefield" class="form-control form-control-color" value="{{ date }}">
            <select class="form-control" id="dishid" name='dishid' placeholder="Type to search...">
                {% for dish in dishes %}
                <option value="{{dish.id}}">{{dish.name}}</option>
                {% endfor %}
                <input type="submit" class="btn btn-outline-primary">
        </div>
    </form>
    {% for plan in plans %}
    {% if plan.date == date %}
    <div class="lead d-flex justify-content-between">
        {{ plan.item }}
        <span title="{{plan.item}}"><a href="/deletingPlan/{{plan.id}}" class="btn btn-outline-danger btn-sm" tabindex="-1"
                role="button">X</a></span>
    </div>
    {% endif %}
    {% endfor %}
    <br>
    <hr>
    <br>
    {% endfor %}
{% endblock %}