<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/bootstrap.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/sidebars.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous">
  </script>
  <script src="https://kit.fontawesome.com/999ca2bb93.js" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <title>SignUp</title>
</head>

<body>
  <div class="sidebar">
    <div class="sidebar_content">
      <div class="flex-shrink-0 p-3 bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
          <svg class="bi me-2" width="30" height="24">
            <use xlink:href="#bootstrap" /></svg>
          <span class="fs-5 fw-semibold text-white">My Life</span>
        </a>
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <button class="btn btn-outline-light btn-toggle align-items-center rounded collapsed text-info"
              data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
              Home
            </button>
            <div class="collapse show" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ">
                <li><a class="link-light rounded" href="/login">Login</a></li>
                <li><a class="link-light rounded" href="/sign-up">Sign Up</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
    <main class="main">
      <form method="POST" enctype=multipart/form-data class="row g-2">
        <h3 align="center">Sign Up</h3>
        <div class="col-6">
          <label for="email">Email Address</label>
          <input type="text" id="email" name="email" class="form-control" placeholder="Enter Email" />
        </div>
        <div class="col-6">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" placeholder="Enter Username" />
        </div>
        <div class="col-6">
          <label for="password1">Password</label>
          <input type="password" id="password1" name="password1" class="form-control" placeholder="Enter Password" />
        </div>
        <div class="col-6">
          <label for="password2">Password Again</label>
          <input type="password" id="password2" name="password2" class="form-control"
            placeholder="Enter Password Again" />
        </div>
        <div class="col-12">
          <label for="avatar">Avatar Image Upload</label>
          <input type="file" name="avatar" id="avatar" class="form-control">
        </div>
        <div class="dropdown-divider">
        </div>
        <div class="col-6">
          <label for="firstname" class="form-label">First Name</label>
          <input type="text" class="form-control" name="firstname" id="firstname">
        </div>
        <div class="col-6">
          <label for="lastname" class="form-label">Last Name</label>
          <input type="text" class="form-control" name="lastname" id="lastname">
        </div>
        <div class="col-4">
          <label for="address" class="form-label">Address</label>
          <input type="text" class="form-control" name="address" id="address">
        </div>
        <div class="col-md-3">
          <label for="city" class="form-label">City</label>
          <input type="text" class="form-control" id="city" name="city">
        </div>
        <div class="col-md-2">
          <label for="state" class="form-label">State</label>
          <select type="text" name="state" id="state" class="form-select">
            {% for state in states %}
            <option value="{{state.abr}}">{{state.state}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-3">
          <label for="zip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="zip" name="zip">
        </div>
        <div class="col-4">
          <label for="phone" class="form-label">Phone</label>
          <input type="tel" class="form-control" id="phone" name="phone">
        </div>
        <div class="col-4">
          <label class="form-label" for="dob">Birthdate</label>
          <input type="date" name="dob" id="dob" class="form-control">
        </div>
        <br />
        <div align="center">
          <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
      </form>
    </main>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
</body>

</html>