{% extends "base.html" %}

{% block content %}
<h1>To-Do <small>List</small></h1><br>
<div class="form-group">
    <form action="/todo" method="POST">
        <input type="text" class="form-control-lg" placeholder="Your Task" name="item">
        <div class="form-check form-check-inline">
            <input class="btn-check g-0" type="radio" name="project" id="project2" value="Cpap Supplies">
            <label class="btn btn-primary" for="project2">Cpap Supplies</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="btn-check g-0" type="radio" name="project" id="project1" value="Menu">
            <label class="btn btn-primary" for="project1">Menu</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="btn-check g-0" type="radio" name="project" id="project1" value="Health" checked>
            <label class="btn btn-primary" for="project1">Health</label>
        </div>
        <input type="submit" class="btn btn btn-warning"></input>
    </form>
    <br><br>
</div>

<ul class="list-group">
    {% for item in items %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
            {{item.item}}
        <div>
            {% if item.project == "Menu" %}
            <span class="badge bg-danger rounded-pill">{{item.project}}</span>
            {% elif item.project == "Cpap Supplies" %}
            <span class="badge bg-primary rounded-pill">{{item.project}}</span>
            {% elif item.project == "Health" %}
            <span class="badge bg-success rounded-pill">{{item.project}}</span>
            {% else %}
            <span class="badge bg-dark rounded-pill">{{item.project}}</span>
            {% endif %}
            <a href="/deletingTodo/{{item.id}}" class="btn btn-outline-danger btn-sm" tabindex="-1" role="button">X</a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}