{% extends "base.html" %}

{% block title %}
Wifi Home Connections
{% endblock %}

{% block content %}
<h1 class="display-1 text-center">Wifi</h1>
<table class="table table-responsive-lg">
    <thead>
        <th>SSID</th>
        <th>Password</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        <tr>
            <form action="/wifi" class="" method="POST" autocomplete="off">
                <td>
                    <input type="text" autocomplete="nope" class="form-control" name="ssid" id="ssid">
                </td>
                <td>
                    <input type="password" autocomplete="new-password" class="form-control" name="password" id="password">
                    <input type="hidden" name='thisuserid' value="{{current_user.id}}">
                </td>
                <td>
                    <input type="submit" value="Add Wifi">
                </td>
        </tr>
        </form>
    </tbody>
</table>

<table class="table table-responsive-xxl">
    <thead>
        <th></th>
        <th></th>
        <th>SSID</th>
        <th>Password</th>
        <th>QR Code</th>
    </thead>
    <tbody>
        {% for wf in wifi %}
        <tr>
                <td>
                    <td><a href="{{ url_for('views.wifidelete', id=wf.id) }}"><button class="btn btn-danger"><i
                        class="fas fa-trash-alt"></i></button></a></td>
                </td>
            <td>{{wf.SSID}}</td>
            <td>{{wf.password}}</td>
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{wf.SSID}}">
                    Show QR Code
                </button>

                <!-- Modal -->
                <div class="modal fade" id="{{wf.SSID}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{wf.SSID}} Wifi</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img src="{{wf.path}}" width="600" height="600">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% endblock %}